body {
	background: black;
}


.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	padding-top: -100px;  
}

header {
	background: #BF0A30 ;
}


header::after {
  content: '';
  display: table;
  clear: both;
}


.b {
	color: whitesmoke;
	font-size: 50px;
	font-weight: 400;
}


nav {
	float: right;
}

nav ul {
	margin: 10px;
	padding: 10px;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 60px;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  color: whitesmoke;
  font-weight: 400;
}

nav a:hover {
  color:black;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.sub-menu-wrap {
				position: absolute;
				top: 100%;
				right: 10%;
				width: 320px;
}

#p {
	color: whitesmoke;
	font-size: 50px;
	text-align: left;
}